ol, ul {
	list-style: none;}

body { overflow-x: hidden; margin: 0; padding: 0; border: 0;}

.logo{ width:100%; min-width: 850px; height:165px; background-color: #FFF; background: url(img/logo.png) no-repeat center top ;}
.titlebg{ width:100%; min-width: 850px; height:808px; background: url(img/01.jpg) no-repeat center top ;}
.subbg{  width:100%; min-width: 850px; height:551px; background: url(img/02.jpg) no-repeat center top ;}
.signdiv{ margin:0 auto; width:850px;}
.sign{ position: relative; top: 395px; right:95px;height:157px; background: url(img/sign.png) no-repeat right top ; }
.sign:hover{ height:157px; background: url(img/sign_hover.png) no-repeat right top ;}
.content{ text-align:center;background-color:#FFF;width:100%; padding-bottom: 50px;}
.font1_txt{ text-align:left;background-color:#FFF;width:850px;margin:0 auto;line-height: 4.5vmin;padding: 5px;}
.font2_txt{ text-align:left;background-color:#FFF;width:850px;margin:0 auto;line-height: 3vmin; font-size: 1.5vmin;padding: 5px;}
.font1{font-size:3.5vmin;text-indent:-4vmin;font-weight:800;padding-top: 15px;}
.font2{text-indent:-1vmin;}

